*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  border: border-box;
}
body{
  background-color: #e4e4e4;
}
.navbar {
  height: 60px;
  background-color: #1a1e1e;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  z-index: 100;
}
.nav-logo{
  height: 50px;
  width: 120px;
}
.logo{
  background-image: url("resources/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border{
  border: 1px solid transparent;
}
.border:hover{
  border: 1px solid white;
}
.address{
  height: 50px;
  width: 160px;
  align-items: center;
  padding: 0px 9px;

}
.address:hover{
  border: 1px solid white;
}
.loc{
  display: flex;
  align-items: center;
}
.add-one{
  color: #d6d6d6;
  margin-left: 15px;
  margin-top: 10px;
  padding-left: 5px;

}
.add-two{
  color: white;
  font-size: 1rem;
  font-weight: bolder;
}
.nav-search {
  height: 40px;
  display: flex;
}
.nav-search:enabled{
  border: 2px solid orange;
  border-radius: 8px;
}
.all{
  color: black;
  background-color: #f3f3f3;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 16px;
  text-align: center;
  width: 50 px;
  border: 0;
  cursor: pointer;
}
.all:hover{
  background-color: rgb(230, 230, 230);
}
.searchbar{
  width: 640px;
  padding-left: 10px;
  border: 0;
}
.searchbar::placeholder{
  font-size: 1rem;
  border: 0;
}
.search-button{
  font-size: 1.5rem;
  background-color: #febd68;
  width: 45px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;

}
.search-button:hover{
  background-color: #ffb049;
  cursor: pointer;
}
.language{
  width: 60px;
  height: 55px;
  margin: 1px;
  padding: 0px 6px 5px 7px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language:hover{
  border: 1px solid white;
}

.dropdown {
  display: flex;
  height: 55px;
}
.dropdown:hover{
  border: 1px solid white;
}
/* Button: shows only EN */
.dropdown-button {
  width: 45px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  font-family: arial;
  padding: 8px 15px;
  border-radius: 5px;
  align-items: center;
  display: flex;
}

/* Dropdown menu (hidden by default) */
.dropdown-content {
  display:none;
  position: absolute;
  background-color: white;
  color: #0f1111;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 8px;
  margin-top: 60px;

}

/* Show menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#decor:hover{
    color: #ff9900;
    text-decoration: underline;
}

/* Style radio buttons */
.dropdown-content input[type="radio"] {
  accent-color: #ff9900;
  /* Amazon-like color */
  margin-right: 8px;
}
/* Option styling */
.dropdown-content label{
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
}
.dropdown-content label:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.dropdownacc{
  height: 50px;
  width: 140px;
  padding-top: 5px;
  padding-left: 15px;
  margin: 0px 0px 0px 2px;
  position: relative;
  align-content: center;
  visibility: visible;
  transform: translateY(0);
}

.dropdownacc:hover .dropdownacc-cont{
  display: block;
}
.dropdownacc-one{
  font-size: 0.85rem;
}
.dropdownacc-two{
  font-weight: bolder;
}
.dropdownacc:hover{
  border: 1px solid white;
}
.return{
  align-content: center;
  width: 76px;
  height: 50px;
  padding-left: 5px;
  padding-top: 5px;
}
.return:hover{
  border: 1px solid white;
}
.cartmain{
  display: flex;
  border: 1px solid transparent;
  height: 50px;
  width: 84px;
  padding-top: 6px;
  align-items: center;

}
.cart{
  font-size: 30px;
}
.cartname{
  display: absolute;
  padding-top: 10px;
  font-weight: bolder;
}
.cartmain:hover{
  border: 1px solid white;
}
.dropdown-panel{
  display: none;
  position: absolute;
  background-color: white;
  color: #0f1111;
  right: -50px;
  min-width: 500px;
  height: 380px;
  border-radius: 7px;
  margin-top: 8px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.dropdownacc:hover .dropdown-panel{
  display: flex;
  flex-direction: column;
}
.signin-button{
  background-color: #f0c14b;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  display: flex;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.signin-button:hover {
  background-color: #e4b238;
}
.panel-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  margin-top: 5px;
}
.panel-top a{
  color: #0066c0;
}
.panel-top a:hover{
  color: #c44444;
}
.panel-bottom{
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  padding-top: 10px;
}
.yourlist p, .youracc p{
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  margin: 0;
  color: rgb(53, 53, 53);
}
.yourlist p:hover, .youracc p:hover{
  color: #c44444;
  text-decoration: underline;

}
.opt-bar{
  background-color: #222f3d;
  height: 39px;
  width: 100%;
  padding-top: 60px;
  color: white;
  font-size: 0.875rem;
  display: flex;
  font-family: Arial;
  justify-content: space-evenly;
}
.opt-bar div{
  padding-left: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 520;
  border: 1px solid transparent;
}
.opt-bar div:hover{
  border: 1px solid white;
  cursor: pointer;
}
.ham-all{
  width: 58px;
  border: 1px solid transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-weight: 700;
}
.fresh{
  width: 61.9px;
}
.mx{
  width: 83px;
}
.sell{
  width: 53px;
}
.bestsellers{
  width: 87.5px;
}
.today{
  width: 104.8px;
}
.mobiles{
  width: 69px;
}
.prime{
  width: 65px;
}
.new{
  width: 105.9px;
}
.customer{
  width: 130.3px;
}
.electronics{
  width: 88.7px;
}
.fashion{
  width: 68.5px;
}
.home{
  width: 123.5px;
}
.amazon-pay{
  width: 97.9px;
}
.computer{
  width: 89.5px;
}
.book{
  width: 58.2px;
}
.home-imp{
  width: 147.4px;
  margin-right: 30px;
}

.cover-image{
  background-image: url(resources/gifest.amazon.jpg);
  background-size: cover;
  height: 600px;
  width: 99%;
  margin-left: 0.5%;
  cursor: pointer;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0)100%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1)0%, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0) 100%);
}
.shop-sec{
  display: flex;
  position: absolute;
  top: 350px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.box {
  width: 350px;
  height: 420px;
  background-color: white;
  padding: 15px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}
.box-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box-inner{
  text-align: center;
  width: 160px;
  height: 140px;
  object-fit: cover;
  gap: 10px;

}
.box-inner img{
  height: 110px;
  width: 150px;
  margin-top: 20px;
}
.box-inner img:hover{
  cursor: pointer;
}
.box-inner p{
  font-size: 12px;
  text-align: left;
  padding-left: 5px;
}
.end-grid{
  width: 310px;
  font-size: 12px;
  margin-top: auto;
  padding-bottom: 20px;
  padding-left: 10px;
  color: #0066c0;
}
.end-grid:hover{
  cursor: pointer;
  color: darkblue;
}
.shop-sec-two{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.sing-img img{
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-top: 10px;
}
.sing-img-8 img{
    object-fit: cover;
    height: 300px;
    width: 330px;
    margin-top: 10px;
    margin-left: 4px;
}
.sing-img-3 img{
    object-fit: cover;
    height: 300px;
    width: 330px;  
    margin-top: 10px;
    margin-left: 4px;
}
.sing-img-6 img{
      object-fit: cover;
      height: 300px;
      width: 330px;
      margin-top: 10px;
      margin-left: 4px;
}.shop-sec-two p{
  font-size: 12px;
  margin-left: 5px;
  color: #0066c0;
  margin-top: auto;
  margin-bottom: 10px;
}
.shop-sec-two p:hover{
  color: darkblue;
  cursor: pointer;
}
.shop-sec-two img:hover{
  cursor: pointer;
}
.end-signin-out{
  width: 100%;
  height: 205px;
  background-color: white;
}
.end-signin{
  background-color: white;
  width: 100%;
  height: 165px;
  margin-top: 20px;
  display: flex;
  position: relative;
  top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #b5b9b9;
  border-bottom: 1px solid #b5b9b9;
}
.end-signin button{
  width: 243px;
  height: 30px;
  background-color: #fbd518;
  border-radius: 20px;
  border: 1px solid transparent;
  margin-top: 11px;
}
.end-signin p{
  font-size: 11px;
  margin-top: 6px;
}
.end-signin a{
  color: #0066c0;
}
.end-signin a:hover{
  color: darkblue;
}
.end-signin button:hover{
  background-color: #f5cd06;
  cursor: pointer;
}
.back-to-top{
  font-size: 13px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 49px;
  background-color: #37475a;
  cursor: pointer;
  text-decoration: none;
}
.concl{
  background-color: #232f3e;
  width: 100%;
  height: 380px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  text-align: left;
}
.concl span{
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.concl p{
  font-size: 14px;
  margin: 10px;
  color: #ddd;
}
.concl-one{
  width: 132px;
  height: 295px;
  padding: 0px 10px;
}
.concl-two{
  width: 138px;
}
.concl-three{
  width: 207px;
}
.concl-four{
  width: 221px;
}
.final-logo{
  width: 100%;
  height: 108px;
  background-color: #232f3e;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amazon-logo-end{
  background-image: url("resources/amazon_logo.png");
  background-size: cover;
  width: 106px;
  height: 57px;
}
.end-lang{
  color: #ccc;
  padding-left: 100px;
  margin-top: -10px;
}
.end-lang span{
  cursor: pointer;
  font-size: 13px; 
}
.eng-end{
  width: 132px;
  height: 33px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.caret-one{
  font-size: 8px;
  color: #b9b8b8;
}
.ind-end{
    height: 33px;
    width: 90px;
    padding-left: 14px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.footer-link-container{
  background-color: #131a22;
  width: 100%;
  height: 140px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  justify-content: space-evenly;

}
.footer-link {
  color: #ddd;
  font-size: 12px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
.footer-link:hover{
  text-decoration: underline;
}
.footer-link-container p{
  color: #999;
}
.footer-link-container span{
  font-weight: 540;
}
.abebooks{
  width: 100px;
  height: 40.4px;
  padding-left: 250px;
}
.aws{
    width: 130px;
    height: 40.4px;
    padding-left: 50px;
}
.audible{
    width: 80px;
    height: 40.4px;
    position: relative;
    left: -140px;
}
.imdb{
    width: 100px;
    height: 40.4px;
    position: relative;
    left: -350px;
}
.shopbop{
    width: 90px;
    height: 40.4px;
    padding-left: 250px;
}
.ab{
    width: 100px;
    height: 40.4px;
    padding-left: 52px;
}
.primenow{
    width: 100px;
    height: 40.4px;
    position: relative;
    left: -140px;
}
.apm{
    width: 130px;
    height: 40.4px;
    position: relative;
    left: -350px;
}
.footer-legal {
  background-color: #131a22;
  width: 100%;
  color: #ddd;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.footer-legal-links a {
  color: #ddd;
  text-decoration: none;
  margin: 0 8px;
  white-space: nowrap;
}

.footer-legal-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  margin-top: 5px;

}
.concl p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.amazon-logo-end:hover{
  cursor: pointer;
}